.gradient-button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%, #CDD5D8,#CDD5D8, #76C2AF);
}
.animated-button {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,#CDD5D8, #CDD5D8);
    -fx-text-fill: black;
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-transition: transform 0.2s ease-in-out;
}


.animated-button2 {
    -fx-background-color: linear-gradient(from 0% 0% to 100% 100%,#76C2AF,#76C2AF);
    -fx-text-fill: white;
    -fx-padding: 10 20;
    -fx-font-size: 16px;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-transition: transform 0.2s ease-in-out;
}

.animated-button2:pressed {
    -fx-transform: scale(0.95);
}